<?xml version="1.0" encoding="UTF-8"?>
 <Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="FileAppender" fileName="logs/application.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            AppenderRef ref="FileAppender"/
        </Root>
 
        <Logger name="com.base22" level="trace" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
 
    </Loggers>
</Configuration> 

<!-- Rolling File Appender -->
 <!-- <RollingFile name="FileAppender" fileName="logs/application.log" 
             filePattern="logs/application-%d{yyyy-MM-dd}-%i.log">
    <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    <Policies>
        <SizeBasedTriggeringPolicy size="10MB" />
    </Policies>
    <DefaultRolloverStrategy max="10"/>
</RollingFile>  -->